[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
sphinx-autobuild = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
rstcheck = "*"
# Prevent this vulnerability: https://nvd.nist.gov/vuln/detail/CVE-2017-18342
pyyaml = ">=4.2b1"
